page-user-club-planing {

     .tabs-md .tab-button[aria-selected="true"] {
   //background-color: #000;
   color: #000;
   font-size: 20px;
   padding-left: 10px;
   padding-top: 10px;
   padding-right: 10px;
   font-weight:bold;
   font-family: 'BlackOpsOne';
   letter-spacing: 2px;
  
    }

    .tabs-md[tabsHighlight="true"] .tab-highlight {
    background: #ff0000 none repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 1;
    left: 0;
    position: absolute;
    transform: translateZ(0px);
    transform-origin: 0 0 0;
    width: 1px;
    border-radius:60%; 
    }
    
               
}
